# Ignore raw data files
data/raw/*
# Allow processed data (if small enough for GitHub, <100MB)
!data/processed/*.csv
*.csv
*.xlsx
*.zip
*.gz

# Ignore Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.venv/
venv/
